/*Default Colors*/
:root{
    --main: #ffffff;
    --grey: #252525;
    --dark:#101010;
    --light: #ffffff;
    --fade: #86d3dd;
    --deep:#104bee;
    /* Font Weights*/
    --bold: 700;
    --regular: 400;
}
html{
    scroll-behavior: smooth; /*Enables Smooth Scrolling on Site*/
}
/*Box sizing defaults*/
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /*Universal Box sizing*/
    -moz-box-sizing: border-box; /*Box sizing for Mozilla*/
}
.top-nav{
    background-color: var(--fade);
    overflow: hidden;
}
.top-nav a {
    float: left;
    color: var(--dark);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: Var(--bold)
}
.top-nav a:hover {
    background-color: var(--fade);
    transition: all 0.3s ease; /* Changing in Hover Colour should be an easy transition*/
}
.top-nav-right{
    float: right;
}
/*Button Configurations*/
button{
    color: var(--dark);
    font-weight: var(--bold);
    align-items: right;
}
button:focus , button:active{
    outline: none;
}
button:hover {
    cursor:pointer;
}
body{ 
    font-family:'Roboto+Slab', sans-serif ;
    background-color: var(--main);
    color: var(--dark);
    width: 100%;
    }
a{
    color: var(--light);
    text-align: none;
}
p,h1,h2,h3,h4,h5 {
    margin: 0%;
}
p{
    color: var(--dark);
    font-size: 16px;
}
.prof-pic{
    float: left;
}
header a{
    font-weight: var(--bold);
    color: var(--dark);
    font-size-adjust: inherit;
    text-transform: uppercase;
}
header a:hover{
    color:var(--main)
}
.about{
    text-align: left;
    padding : 15px;
    background-color: #cff2f7;
    border: 2px solid white;
    border-radius: 5px;
    overflow: auto;
}
#about {
    overflow:auto;
}
.skills{
    padding : 15px;
    background-color: #cff2f7;
    border: 2px solid white;
    border-radius: 5px;
}
.projects{
    padding : 15px;
    background-color: #cff2f7;
    border: 2px solid white;
    border-radius: 5px;
}
.contacts{
   padding: 15px; 
   background-color: #cff2f7;
   border: 2px solid white;
   border-radius: 5px;
}
footer {
    padding: 5px;
    background-color: #cff2f7;
    color:var(--main);
    font-weight: var(--bold);
    text-align: center;
 }
 .grid-container{
     display: grid;
     grid-template-rows: auto auto auto auto auto;
     padding: 5px;
 }
 li{
     font-size: x-large;
     padding: 2px;
 }
